/*---------------------------*/
/* Styles for backend        */
/*---------------------------*/
.file-preview {
     padding: 0.25rem;
     background-color: #fff;
     border: 1px solid #dee2e6;
     border-radius: .25rem;
}

.file-preview-image {
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: middle;   
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;    
}

.upload-btn-wrapper .btn {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 5px;   
    font-size: 14px;
    font-weight: bold;    
}

.upload-btn-wrapper input[type=file] {    
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;   
}