html {
    height: 100%;

}

body {
    height: 100%;
    color: #a1a1a1 !important;
    font-family: sans-serif,"FZLanTingHeiS";
    font-size: 12pt;
}
.main-content-wrapper {
    min-height: 100%;
    padding-bottom: 1rem;
}
.contact_img {
    height: 100px;
    width: 100px !important;
}

.detail {
    min-height: 100vh;
}

/*----- containers --------*/
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.img-fluid {
    width: 100%;
}

/*---------------------------*/
/*          FONTS            */
/*---------------------------*/
h1{
    font-size: 32pt;
}
h2{
    font-size: 28pt;
}
h3{
    font-size: 22pt;
}
h4{
    font-size: 14pt;
}



/*---------------------------*/
/*          COLORS           */
/*---------------------------*/
.bg-gray63 {
    background-color: #a1a1a1;
}

.bg-black {
    background-color: black;
}

.bg-red {
    background-color: #FF0000;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: #000000;
}

.color-red {
    color: #FF0000;
}

.color-lightred {
    color: #da3731;
}

.color-grey161 {
    color: #a1a1a1;
}

/*---------------------------*/
/*       NAV BAR            */
/*---------------------------*/

.nav-link {
   font-weight: 400;
    font-size: 15pt;
    color: #a1a1a1;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 2rem;
}

.nav-link:hover {
    color: #a1a1a1;
    padding-bottom: 1px;
    border-bottom: 1px solid #da3731 !important;
}

/*---------------------------*/
/*       CAROUSEL            */
/*---------------------------*/

.homecarouselcaption {
    position: absolute;
    top: 250px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.smallcarouselcaption {
    position: absolute;
    top: 150px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 150px;
}

/*---------------------------*/
/*    CAROUSEL INDICATORS    */
/*---------------------------*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.carousel-indicators .active {
    background-color: red;
}
.news_description{
    height: 174px;
}

/*------------------------*/
/*    BELOW      BANNER   */
/*------------------------*/
.homebelowbanner {
    margin: 0px 100px;
}

/*---------------------------*/
/*        SERVICES          */
/*---------------------------*/
.service {
    position: relative;
}

.service_content {

    color: white;
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
}

/*----------------------------------*/
/*       HOVER ON SERVICES          */
/*----------------------------------*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.service:hover .overlay {
    opacity: 0.5;
}
.service:hover .text1 {
    opacity: 0;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.readmore {

    font-size: 15px;
    position: absolute;
    top: 96%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 170px;
    margin-top: -10px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 1);
}
.readmore-border{
    border:1px solid red;
    height:87%;
}
.readmore-border a:hover {
    color: red;
}

/*-----------------------------*/
/*       CERTIFICATES          */
/*-----------------------------*/
.certificates img {
    float: left;
    margin-right: 5px;
}

/*-----------------------------*/
/*       SERVICES PAGE        */
/*-----------------------------*/
.servicedetailimage img {
    margin: auto;
}

/*------------------------------*/
/*         NEWSLIST             */
/*------------------------------*/
.border-grey {
    border-color: #808080 !important;
}


/*------------------------------*/
/*       PAGINATION LINK        */
/*------------------------------*/
.navigation_link:hover {
    color: white;
    text-decoration: none;
}

/*----------------------*/
/*      owl-slider      */
/*----------------------*/
.news-inner{
    width:350px;
}
.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 40%;
    background-color: transparent !important;
}

@media (min-width: 1200px) {
    .owl-nav .owl-prev {
        left: -30px;
    }

    .owl-nav .owl-next {
        right: -22px;
    }
    .owl-dots {
        display: none;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .owl-nav .owl-prev {
        left: -35px;
    }

    .owl-nav .owl-next {
        right: -22px;
    }
    .owl-dots {
        display: none;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .owl-nav .owl-prev {
        left: -37px;
    }

    .owl-nav .owl-next {
        right: -37px;
    }

    .owl-dots {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 576px) {
   
    .owl-nav .owl-prev {
        left: -28px;
    }

    .owl-nav .owl-next {
        right: -28px;
    }

    .owl-dots {
        display: none;
    }
}

@media (max-width: 576px) {

    .owl-nav {
        display: none;
    }
}
/*---------------------------*/
/*        REPONSIVE          */
/*---------------------------*/
@media (max-width: 1199.98px) {
    .home h1 {
        font-size: 11pt;
    }

    .home h2 {
        font-size: 17pt;
    }

    .home h3 {
        font-size: 9pt;
    }

    .subpage h1 {
        font-size: 11pt;
    }

    .subpage h2 {
        font-size: 17pt;
    }

    .subpage h3 {
        font-size: 13pt;
        color: #da3731;
    }

    /*------------------------*/
    /*    BELOW      BANNER   */
    /*------------------------*/
    .homebelowbanner {
        margin: 0px;
    }
}

@media (max-width: 992px) {

    /*--nav bar--*/
    nav {
        padding: 0;
    }

    .navbar .navbar-toggler {
        border-color: #a1a1a1;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63.1,63.1,63.1, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

/*---------------------------*/
/*           IPAD            */
/*---------------------------*/
@media (max-width: 768px) {

    .news-inner{
        width:310px;
    }
    /*-- Carousel For Ipad --*/
    .homecarouselcaption {
        position: absolute;
        top: 150px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .smallcarouselcaption {
        position: absolute;
        top: 80px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        height: 150px;
    }

    .certificates img {
        float: none;
        margin: auto;
        margin-bottom: 20px !important;
    }
}

/*---------------------------*/
/*          PHONE            */
/*---------------------------*/
@media (max-width: 576px) {
    .logo {
        width: 230px;
        height: 40px;
    }

    /*-- Carousel For Phone --*/
    .homecarouselcaption {
        position: absolute;
        top: 20px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .smallcarouselcaption {
        position: absolute;
        top: 15px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        height: 150px;
    }
    .subpage h2 {
        font-size: 14pt;
    }

    /*-- News Bottom Slider --*/
    @media(max-width:600px)
    {
        .news-inner
        {
            padding:15px;
            width:100%;
        }
    }
    /*-- Certificates --*/
    .certificates img {
        float: none;
        margin: auto;
        margin-bottom: 20px !important;
    }

    #certi4 {
        width: 90%;
    }

    /*-----------------------------*/
    /*       SERVICES PAGE        */
    /*-----------------------------*/
    .servicedetailimage img {
        margin-bottom: 20px !important;
    }
}

/*-----------------------------*/
/*   Border width class        */
/*-----------------------------*/
.border-2 {
    border-width: 2px;
}

/*-----------------------------*/
/*  News list styles           */
/*-----------------------------*/
.figure-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

.news_image {
    height: 174px;
}

.latest_news_container {
    position:relative;
    margin-bottom: 6rem;
}

.current_page{
    font-size:14px;
    font-weight:900;
    height:30px;
    width:30px;
}
